
<div ng-app="materialApp" ng-controller="AppCtrl" layout="column" layout-fill>
<!-- <footer>
    <div layout="row" layout-align="center center">
        <h2><div class="footer-copyright text-center py-3">© 2019 Copyright:
            <a href="#"> Muzix.com</a>
          </div></h2>
    </div>
</footer>
</div> -->
<footer>
        <div layout="row" layout-align="center center">
            <h2><div class="footer-copyright text-center py-3">© 2019 Copyright:
                <a href="#"> Muzix.com</a>
              </div></h2>
        </div>
    </footer>
    </div>